# Bibliotecas para o Frontend
streamlit~=1.50.0
pandas~=2.3.2
requests~=2.32.5

# Bibliotecas para o Backend
fastapi
flask~=3.1.2
uvicorn[standard]
scikit-learn~=1.7.2
kagglehub~=0.3.13
matplotlib~=3.10.6